/*********************** CSS RESET **********************/

	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
/*******************************************************/

body {
	color: #2c2c2c;
	font: 100 15px/20px "Open Sans", "arial", sans-serif;
	background: url("https://zocalogroup.s3.amazonaws.com/bg_ow.jpg") repeat scroll 0 0 transparent;
	text-shadow: 1px 1px 1px #FFFFFF;
}
a {
	text-decoration: none;
	color: #08c;
}
a:hover {
	text-decoration: underline;
	color: #005580;
}

header {
	background: url("https://zocalogroup.s3.amazonaws.com/bgNav.png") repeat scroll 0 0 transparent;
	border-bottom: #FF9933 solid 8px;
	box-shadow: 0 5px 6px rgba(0, 0, 0, 0.17);
	float: left;
	padding: 2% 0 0 0;
	width: 100%;
}

	#header-inner {
		max-width: 65em;
		margin: 0 auto;
	}
		header div img {
			margin: 0 auto;
			display: block;		
		}	
		
		header h1 {
			font: 700 1.8em "Arvo", Georgia, serif;
			text-align: center;
			margin: 0.5em 0;
		}

#container {
	clear: both;
	margin: 0 auto;
	max-width: 65em;
	padding: 1.5em 0 0 0;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: #2c2c2c;
	font:400 1.5em/1.25em "Arvo", Georgia, serif;
}

h2 {
	font: 100 1.25em/1.5em "Open Sans", Arial, sans-serif;
}

img {
	transition: width 0.5s;
	-moz-transition: width 0.5s; /* Firefox 4 */
	-webkit-transition: width 0.5s; /* Safari and Chrome */
	-o-transition: width 0.5s; /* Opera */
}

p {
	line-height: 1.4em;
	padding: 2% 3% 0 3%;
}

strong {
	font-weight: 700;
}

#content {
	float: left;
	width: 60%;
}

	article {
		clear: both;
		padding: 1em 0 0 0; 
	}
		
		article > h1 {
			margin: 0 0 1% 3%;
		}
		
		article > img {
			background-color: #f3f3f3;
			box-shadow: 0px 0px 1px 1px #7f7f7f;
			float: left;
			display: inline-block;
			margin: 1em;
			width: 14.5em;
			padding: 0.5%; 
		}
		
		dl {
			float: left;
			margin: 1em 0 0 0.5em;
		}
			dt {
				font: 700 1em/1.25em "Arvo", Georgia, serif; 
			}
			
				dd {
					margin: 0.25% 0 5% 0;
				}
				
		article > p {
			clear: left; 
			padding: 0 1em;
		}
		
		
		.button {
		    
		    -moz-box-shadow: 0px 5px 6px -4px #636363;
		    -webkit-box-shadow: 0px 5px 6px -4px #636363;
		    box-shadow: 0px 5px 6px -4px #636363;
		    
		    background-color:#e99400;
		    
		    -moz-border-radius:4px;
		    -webkit-border-radius:4px;
		    border-radius:4px;
		    
		    border:1px solid #e84200;
		    
		    display:inline-block;
		    color:#2e2e2e;
		    font-family:arial;
		    font-size:17px;
		    font-weight:bold;
		    padding:8px 24px;
		    text-decoration:none;
		    
		    text-shadow:0px 1px 0px #edbaa5;
		    margin: 1em;
		    
		    transition: background 0.5s;
			-moz-transition: background 0.5s; /* Firefox 4 */
			-webkit-transition: background 0.5s; /* Safari and Chrome */
			-o-transition: background 0.5s; /* Opera */
		}
		.button:hover {
		    color:#2e2e2e;
		    text-decoration: none;
		    background-color:#e86800;
		}
		.button:active {
		    position:relative;
		    top:1px;
		}
		
		#content p {
			font-size: 1.2em;
		}

aside {
	float: right;
	width: 40%;	
	transition: left 0.5s;
	-moz-transition: left 0.5s; /* Firefox 4 */
	-webkit-transition: left 0.5s; /* Safari and Chrome */
	-o-transition: left 0.5s; /* Opera */
}

	aside h1 {
		padding: 0.6em 0 0 0.6em;
	}
	
	aside p {
		padding: 1em;
		font-size: .9em;
	}
	

#capes-container {
	width: 65em;
	margin: 0 auto 2em auto;
}
	
	.capes {
		box-shadow: 0px 0px 1px 1px #7f7f7f; 
		float: left;
		margin: 2% 0 2% 1.75%;
		max-width: 100%;
	}
	
		.first {		
			clear: both;		
		}
	
#april-fools {
	text-align: center;
}

#april-fools img {
	max-width: 100%;
	margin: 0 3% 3% 3%;
}

@media (max-width: 960px) {

	#content {
		float: none;
		margin: 0 auto;
		width: 60em;
		max-width: 100%;
	}
	
	article > img {
		float: left;
		display: inline-block;
		margin: 1em;
		max-width: 14.5em;
		padding: 0.5%;
	}
	
	aside {
		float: none;
		margin: 0 auto;
		width: 60em;
		max-width: 100%;
	}
	
	#capes-container {
		width: 100%;
		margin: 0 auto;
	}
	
		.capes {
			max-width: 20%;	
			margin: 3% 0 0 3.75%;
		}
	
} /* max-width: 960px */

@media (max-width: 800px) {
	
	.capes {
		max-width: 100%;
	}
	
	.capes:nth-child(3) {
		clear: both;
	}
	
	#capes-container {
		width: 33em;
		margin: 0 auto;
	}
	
} /* max-width: 800px */

@media (max-width: 495px) {
	.capes {
		display: block;
		float: none;
		margin: 3% auto;
	}
	
	#capes-container {
		max-width: 100%;
	}
	
	article > img {
		width: 11em;
	}
}


	