/*********************** CSS RESET **********************/

	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
/*******************************************************/

body {
	color: #2c2c2c;
	font: 100 16px/20px "Open Sans", "arial", sans-serif;
	background: url("https://zocalogroup.s3.amazonaws.com/bg_ow.jpg") repeat scroll 0 0 transparent;
	text-shadow: 1px 1px 1px #FFFFFF;
}

header {
	float: left;
	background: url("https://zocalogroup.s3.amazonaws.com/bgNav.png") repeat scroll 0 0 transparent;
	width: 100%;
	overflow: visible;
	border-bottom: #FF9933 solid 8px;
}

#header-inner {
	max-width: 65em;
	margin: 0 auto;
}
	header img {
		float: left;
		margin: 0;		
	}	
	
	header h1 {
		margin: 3% 0 0 0;
	}

#container {
	clear: both;
	margin: 0 auto;
	max-width: 65em;
}

h1, h2, h3, h4, h5, h6 {
	color: #2c2c2c;
	font:400 1.5em/1.25em "Arvo", Georgia, serif;
}

h2 {
	font: 100 1.25em/1.5em "Open Sans", Arial, sans-serif;
}

#content {
	float: left;
	width: 60%;
}

	article {
		clear: both;
		padding: 1em 0 0 0; 
	}
	
		article > img {
			background-color: #f3f3f3;
			box-shadow: 0px 0px 1px 1px #7f7f7f;
			float: left;
			display: inline-block;
			margin: 0 2em 2em 0;
			max-width: 31%;
			padding: 0.5%; 
		}
		
		dl {
			float: left;
		}
			dt {
				font: 700 1em/1.25em "Arvo", Georgia, serif; 
			}
			
				dd {
					margin: 0.25em 0 0.5em 0;
				}
				
		article > p {
			clear: left; 
		}

aside {
	float: right;
	width: 40%;	
}
	